/*******VARIABLES*********/
$color-yellow: #FFD752;
$nav_width:156px;

/**********FONTS**************/
@font-face {
    font-family: 'Spoof Regular';
    src: url('fonts/Spoof/Spoof-Regular.otf') format('otf'),
        url('fonts/Spoof/Spoof-Regular.woff') format('woff'),
        url('fonts/Spoof/Spoof-Regular.woff2') format('woff2'),
        url('fonts/Spoof/Spoof-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Spoof Bold';
    src: url('fonts/Spoof/Spoof-Bold.otf') format('otf'),
        url('fonts/Spoof/Spoof-Bold.woff') format('woff'),
        url('fonts/Spoof/Spoof-Bold.woff2') format('woff2'),
        url('fonts/Spoof/Spoof-Bold.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Spoof Bold Slanted';
    src: url('fonts/Spoof/Spoof-BoldSlanted.otf') format('otf'),
        url('fonts/Spoof/Spoof-BoldSlanted.woff') format('woff'),
        url('fonts/Spoof/Spoof-BoldSlanted.woff2') format('woff2'),
        url('fonts/Spoof/Spoof-BoldSlanted.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Spoof Regular Slanted';
    src: url('fonts/Spoof/Spoof-RegularSlanted.otf') format('otf'),
        url('fonts/Spoof/Spoof-RegularSlanted.woff') format('woff'),
        url('fonts/Spoof/Spoof-RegularSlanted.woff2') format('woff2'),
        url('fonts/Spoof/Spoof-RegularSlanted.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}


/*******BASIC STYLES*******/
footer,
header {
    display: none;
}

body {
    font-family: 'Spoof Regular', Spoof Regular, sans-serif;
}

ul {
    list-style-type: none;

    li {
        cursor: pointer;
        margin: 0px 12px;
    }
}

h2 {
    font-weight: 300;
    font-size: 52px;
}

a {
    text-decoration: none;
    color: #000;
}

/**Global layout **/
body::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
}

#bodyContainer{
    background-color: white;
    &.yellowOn{
        background-color: #FFD752!important;
    }
}
#leftNavContainer {
    height: $nav_width;
    width: 100vh;
    padding: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    transform: rotate(-90deg) translate(-$nav_width/2, $nav_width/2);
    transform-origin: 0;
    nav {
        position: absolute;
        bottom: 0px;
        right: 112px;
        font-size: 24px;
        span {
            margin: 0px 26px;
        }
        #switchIcon {
            width: 24px;
            transform: rotate(90deg);
            vertical-align: middle;
            cursor: pointer;
            &.switchOn{
                transform: rotate(270deg)!important;
            }
        }
    }
}

#heroContainer{
    .content{
        text-align: center;
        img{
            width: 92%;
        }
    }
}

#contentContainer {
    max-width: 85vw;
    margin-left: $nav_width;
    padding-left: 68px;
    padding-right: 7.7vw;
    padding-top: 48px;
    #descContainer {
        .content {
            font-size: 40px;
            line-height: 42px;
        }
    }
    #teamContainer {
        display: inline-block;
        width: 100%;
        padding: 32px 0px;

        .title {
            float: left;
            margin-right: 8%;

            h2 {
                margin-top: -15px;
            }
        }

        ul {
            float: right;

            li {
                display: inline-block;
            }
        }
    }
}



/**TABLEAU**/

#teamList {
    text-align: left;

    //display: inline-block;
    th {
        font-size: 22px;
        font-weight: 300;
        max-width: auto;
        padding: 0px 48px;
    }
}

#refsTable,
#projTable {
    text-align: left;
    width: 100%;

    thead {
        font-size: 12px;
    }

    tr,
    th {
        max-width: 62px;
        padding: 10px 10px 10px 0px;
        font-weight: 100;
        &.mini{
            max-width: 20px;
        }
    }
    th{
        vertical-align: top;
    }

    tr:not(#tableHead) {
        border-top: 1px solid black;
    }
}

li {
    font-size: 16px;
}
