/*******BASIC STYLES*******/

footer, header{
    display: none;
}

body{
    font-family: sans-serif;
}

ul{
    list-style-type: none;
    li{
        cursor: pointer;
        margin: 0px 12px;
    }
}



/**TABLEAU**/
table{
    text-align: left;
    width: 90%;
    font-weight: 100;
    tr, th{
        max-width: 62px;
        padding:10px;
    }
    tr:not(#tableHead){
        border-top: 1px solid black;
    }
}

li{
    font-size: 16px;
}