@import 'include-media.scss';

/*******BREAKPOINTS********/
$breakpoints: (small: 0px, xsmall: 345px, mobile: 435px, medium: 768px, large: 1024px, xlarge: 1280px, xxlarge: 1440px, laptop: 1780px);

/*******VARIABLES*********/
$color-yellow: #FFD752;
$nav-width: 156px;

@mixin left-panel($nav-width){
    height: $nav-width;
    transform: rotate(-90deg) translate(-$nav-width/2, $nav-width/2);
}


/**********FONTS**************/
@font-face {
    font-family: 'Spoof Regular';
    src: url('fonts/Spoof/Spoof-Regular.otf') format('otf'),
        url('fonts/Spoof/Spoof-Regular.woff') format('woff'),
        url('fonts/Spoof/Spoof-Regular.woff2') format('woff2'),
        url('fonts/Spoof/Spoof-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Spoof Bold';
    src: url('fonts/Spoof/Spoof-Bold.otf') format('otf'),
        url('fonts/Spoof/Spoof-Bold.woff') format('woff'),
        url('fonts/Spoof/Spoof-Bold.woff2') format('woff2'),
        url('fonts/Spoof/Spoof-Bold.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Spoof Bold Slanted';
    src: url('fonts/Spoof/Spoof-BoldSlanted.otf') format('otf'),
        url('fonts/Spoof/Spoof-BoldSlanted.woff') format('woff'),
        url('fonts/Spoof/Spoof-BoldSlanted.woff2') format('woff2'),
        url('fonts/Spoof/Spoof-BoldSlanted.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Spoof Regular Slanted';
    src: url('fonts/Spoof/Spoof-RegularSlanted.otf') format('otf'),
        url('fonts/Spoof/Spoof-RegularSlanted.woff') format('woff'),
        url('fonts/Spoof/Spoof-RegularSlanted.woff2') format('woff2'),
        url('fonts/Spoof/Spoof-RegularSlanted.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}


/*******BASIC STYLES*******/
footer,
header {
    display: none;
}

body {
    font-family: 'Spoof Regular', Spoof Regular, sans-serif;
}

ul {
    list-style-type: none;

    li {
        cursor: pointer;
        margin: 0px 12px;
    }
}

h2 {
    font-weight: 300;
    font-size: 52px;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: #000;
}

/**Global layout **/
body::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
}

#bodyContainer{
    background-color: white;
    &.yellowOn{
        background-color: #FFD752!important;
    }
}
#leftNavContainer {
    @include left-panel(172px);
    width: 100vh;
    padding: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    transform-origin: 0;
    @include media('<=xlarge') {
        @include left-panel(92px);
    }
    @include media('<=large') {
        @include left-panel(76px);
    }
    nav {
        position: absolute;
        bottom: 0px;
        right: 15%;
        font-size: 22px;
        span {
            margin: 0px 38px;
        }
        #switchContainer{
            margin: 0px;
        }
        #switchIcon {
            width: 24px;
            transform: rotate(90deg);
            vertical-align: middle;
            cursor: pointer;
            &.switchOn{
                transform: rotate(270deg)!important;
            }
        }
    }
}

#heroContainer{
    .content{
        text-align: center;
        img{
            width: 94%;
        }
    }
}

#contentContainer {
    //max-width: 85vw;
    margin-left: $nav-width;
    padding-left: 78px;
    padding-right: 7.7vw;
    padding-top: 48px;
    @include media('<=xlarge') {
        margin-left: 92px;
    }
    @include media('<=large') {
        margin-left: 46px;
    }
    #descContainer {
        .content {
            font-size: 40px;
            line-height: 44px;
        }
    }
    #blackBox{
        background-color: black;
        width: 100%;
        height: 100vh;
        margin-top: 92px;
    }
    #teamContainer {
        display: inline-block;
        width: 100%;
        padding: 32px 0px;

        .title {
            float: left;
            margin-right: 9%;
            @include media('<large') {
               width: 100%;
            }

            h2 {
                margin-top: -15px;
            }
        }

        ul {
            float: right;

            li {
                display: inline-block;
            }
        }
    }
}

#coordinatesContainer{
    padding:92px 0px;
}

#logo{
    width: 146px;
    margin-right: 52px;
    vertical-align: middle;

}

/**TABLEAU**/
.hide{
    @include media('<large') {
        display: none;
    }
}

#teamList {
    text-align: left;

    //display: inline-block;
    th {
        font-size: 22px;
        font-weight: 300;
        max-width: auto;
        padding: 0px 48px;
        @include media('<=xlarge') {
            padding: 0px 18px 0px 0px;
        }
    }
}

#coordinatesList{
    text-align: left;
    th{
        font-size: 24px;
        font-weight: 300;
        max-width: auto;
        padding: 0px 7.3vw 0px 0px;
    }
}

#refsTable,
#projTable {
    text-align: left;
    width: 100%;

    thead {
        font-size: 12px;
    }

    tr,
    th {
        max-width: 62px;
        padding: 10px 10px 10px 0px;
        font-weight: 100;
        &.mini{
         max-width: fit-content;  
        }
    }
    th{
        vertical-align: top;
    }

    tr:not(#tableHead) {
        border-top: 1px solid black;
    }
    tr:last-of-type{
        border-bottom: 1px solid black;
    }
}

li {
    font-size: 16px;
}
