/*******BREAKPOINTS********/
/*******VARIABLES*********/
/**********FONTS**************/
@font-face {
  font-family: 'Spoof Regular';
  src: url("fonts/Spoof/Spoof-Regular.otf") format("otf"), url("fonts/Spoof/Spoof-Regular.woff") format("woff"), url("fonts/Spoof/Spoof-Regular.woff2") format("woff2"), url("fonts/Spoof/Spoof-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Spoof Bold';
  src: url("fonts/Spoof/Spoof-Bold.otf") format("otf"), url("fonts/Spoof/Spoof-Bold.woff") format("woff"), url("fonts/Spoof/Spoof-Bold.woff2") format("woff2"), url("fonts/Spoof/Spoof-Bold.ttf") format("ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Spoof Bold Slanted';
  src: url("fonts/Spoof/Spoof-BoldSlanted.otf") format("otf"), url("fonts/Spoof/Spoof-BoldSlanted.woff") format("woff"), url("fonts/Spoof/Spoof-BoldSlanted.woff2") format("woff2"), url("fonts/Spoof/Spoof-BoldSlanted.ttf") format("ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Spoof Regular Slanted';
  src: url("fonts/Spoof/Spoof-RegularSlanted.otf") format("otf"), url("fonts/Spoof/Spoof-RegularSlanted.woff") format("woff"), url("fonts/Spoof/Spoof-RegularSlanted.woff2") format("woff2"), url("fonts/Spoof/Spoof-RegularSlanted.ttf") format("ttf");
  font-weight: normal;
  font-style: normal; }

/*******BASIC STYLES*******/
footer,
header {
  display: none; }

body {
  font-family: 'Spoof Regular', Spoof Regular, sans-serif; }

ul {
  list-style-type: none; }
  ul li {
    cursor: pointer;
    margin: 0px 12px; }

h2 {
  font-weight: 300;
  font-size: 52px;
  margin-bottom: 20px; }

a {
  text-decoration: none;
  color: #000; }

/**Global layout **/
body::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none; }

#bodyContainer {
  background-color: white; }
  #bodyContainer.yellowOn {
    background-color: #FFD752 !important; }

#leftNavContainer {
  height: 172px;
  transform: rotate(-90deg) translate(-86px, 86px);
  width: 100vh;
  padding: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  transform-origin: 0; }
  @media (max-width: 1280px) {
    #leftNavContainer {
      height: 92px;
      transform: rotate(-90deg) translate(-46px, 46px); } }
  @media (max-width: 1024px) {
    #leftNavContainer {
      height: 76px;
      transform: rotate(-90deg) translate(-38px, 38px); } }
  #leftNavContainer nav {
    position: absolute;
    bottom: 0px;
    right: 15%;
    font-size: 22px; }
    #leftNavContainer nav span {
      margin: 0px 38px; }
    #leftNavContainer nav #switchContainer {
      margin: 0px; }
    #leftNavContainer nav #switchIcon {
      width: 24px;
      transform: rotate(90deg);
      vertical-align: middle;
      cursor: pointer; }
      #leftNavContainer nav #switchIcon.switchOn {
        transform: rotate(270deg) !important; }

#heroContainer .content {
  text-align: center; }
  #heroContainer .content img {
    width: 94%; }

#contentContainer {
  margin-left: 156px;
  padding-left: 78px;
  padding-right: 7.7vw;
  padding-top: 48px; }
  @media (max-width: 1280px) {
    #contentContainer {
      margin-left: 92px; } }
  @media (max-width: 1024px) {
    #contentContainer {
      margin-left: 46px; } }
  #contentContainer #descContainer .content {
    font-size: 40px;
    line-height: 44px; }
  #contentContainer #blackBox {
    background-color: black;
    width: 100%;
    height: 100vh;
    margin-top: 92px; }
  #contentContainer #teamContainer {
    display: inline-block;
    width: 100%;
    padding: 32px 0px; }
    #contentContainer #teamContainer .title {
      float: left;
      margin-right: 9%; }
      @media (max-width: 1023px) {
        #contentContainer #teamContainer .title {
          width: 100%; } }
      #contentContainer #teamContainer .title h2 {
        margin-top: -15px; }
    #contentContainer #teamContainer ul {
      float: right; }
      #contentContainer #teamContainer ul li {
        display: inline-block; }

#coordinatesContainer {
  padding: 92px 0px; }

#logo {
  width: 146px;
  margin-right: 52px;
  vertical-align: middle; }

/**TABLEAU**/
@media (max-width: 1023px) {
  .hide {
    display: none; } }

#teamList {
  text-align: left; }
  #teamList th {
    font-size: 22px;
    font-weight: 300;
    max-width: auto;
    padding: 0px 48px; }
    @media (max-width: 1280px) {
      #teamList th {
        padding: 0px 18px 0px 0px; } }

#coordinatesList {
  text-align: left; }
  #coordinatesList th {
    font-size: 24px;
    font-weight: 300;
    max-width: auto;
    padding: 0px 7.3vw 0px 0px; }

#refsTable,
#projTable {
  text-align: left;
  width: 100%; }
  #refsTable thead,
  #projTable thead {
    font-size: 12px; }
  #refsTable tr,
  #refsTable th,
  #projTable tr,
  #projTable th {
    max-width: 62px;
    padding: 10px 10px 10px 0px;
    font-weight: 100; }
    #refsTable tr.mini,
    #refsTable th.mini,
    #projTable tr.mini,
    #projTable th.mini {
      max-width: fit-content; }
  #refsTable th,
  #projTable th {
    vertical-align: top; }
  #refsTable tr:not(#tableHead),
  #projTable tr:not(#tableHead) {
    border-top: 1px solid black; }
  #refsTable tr:last-of-type,
  #projTable tr:last-of-type {
    border-bottom: 1px solid black; }

li {
  font-size: 16px; }
