/*******BREAKPOINTS********/
/*******VARIABLES*********/
/**********FONTS**************/
@font-face {
  font-family: 'Spoof Regular';
  src: url("fonts/Spoof/Spoof-Regular.otf") format("otf"), url("fonts/Spoof/Spoof-Regular.woff") format("woff"), url("fonts/Spoof/Spoof-Regular.woff2") format("woff2"), url("fonts/Spoof/Spoof-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Spoof Bold';
  src: url("fonts/Spoof/Spoof-Bold.otf") format("otf"), url("fonts/Spoof/Spoof-Bold.woff") format("woff"), url("fonts/Spoof/Spoof-Bold.woff2") format("woff2"), url("fonts/Spoof/Spoof-Bold.ttf") format("ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Spoof Bold Slanted';
  src: url("fonts/Spoof/Spoof-BoldSlanted.otf") format("otf"), url("fonts/Spoof/Spoof-BoldSlanted.woff") format("woff"), url("fonts/Spoof/Spoof-BoldSlanted.woff2") format("woff2"), url("fonts/Spoof/Spoof-BoldSlanted.ttf") format("ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Spoof Regular Slanted';
  src: url("fonts/Spoof/Spoof-RegularSlanted.otf") format("otf"), url("fonts/Spoof/Spoof-RegularSlanted.woff") format("woff"), url("fonts/Spoof/Spoof-RegularSlanted.woff2") format("woff2"), url("fonts/Spoof/Spoof-RegularSlanted.ttf") format("ttf");
  font-weight: normal;
  font-style: normal; }

/*******BASIC STYLES*******/
html {
  scroll-behavior: smooth; }

footer,
header {
  display: none; }

body {
  font-family: 'Spoof Regular', Spoof Regular, sans-serif;
  -webkit-font-smoothing: antialiased; }
  @media (max-width: 435px) {
    body {
      overflow-x: hidden; } }

ul {
  list-style-type: none; }
  ul li {
    cursor: pointer;
    margin: 0px 12px; }

h2 {
  font-weight: 300;
  font-size: 52px;
  margin-bottom: 20px;
  line-height: 68px; }
  @media (max-width: 435px) {
    h2 {
      font-size: 45px;
      line-height: 52px; } }

a {
  text-decoration: none;
  color: #000; }

/**Global layout **/
body::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none; }

#bodyContainer {
  background-color: white; }
  @media (max-width: 435px) {
    #bodyContainer {
      overflow: hidden; } }
  #bodyContainer.blackOn {
    background-color: #000000 !important; }
  #bodyContainer.yellowOn {
    background-color: #FFD752 !important; }

#leftNavContainer {
  height: 172px;
  transform: rotate(-90deg) translate(-86px, 86px);
  width: 105vh;
  min-width: 856px;
  padding: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  transform-origin: 0;
  background-color: transparent;
  transition: 0s ease;
  z-index: 10; }
  #leftNavContainer.navBlack {
    background-color: #000 !important;
    transition: 0s ease; }
  @media (min-width: 1441px) {
    #leftNavContainer {
      height: 164px;
      transform: rotate(-90deg) translate(-82px, 82px); } }
  @media (max-width: 1280px) {
    #leftNavContainer {
      height: 92px;
      transform: rotate(-90deg) translate(-46px, 46px); } }
  @media (max-width: 1024px) {
    #leftNavContainer {
      height: 76px;
      transform: rotate(-90deg) translate(-38px, 38px); } }
  @media (max-width: 435px) {
    #leftNavContainer {
      width: 100vw;
      position: fixed;
      transform: rotate(0deg);
      top: 0;
      min-width: 0px; }
      #leftNavContainer .mobileHide {
        display: none; } }
  #leftNavContainer nav {
    position: absolute;
    bottom: 0px;
    right: 15%;
    font-size: 22px; }
    @media (max-width: 435px) {
      #leftNavContainer nav {
        position: relative;
        right: 0; } }
    #leftNavContainer nav span {
      margin: 0px 38px; }
    #leftNavContainer nav #switchContainer {
      margin: 0px; }
    #leftNavContainer nav #switchIcon {
      width: 24px;
      transform: rotate(90deg);
      vertical-align: middle;
      cursor: pointer; }
      #leftNavContainer nav #switchIcon.switchOn {
        transform: rotate(270deg) !important; }

#switchContainerMobile {
  position: fixed;
  z-index: 10;
  height: 90px;
  width: 90px;
  top: calc(100vh - 50px);
  left: 18px; }
  @media (min-width: 436px) {
    #switchContainerMobile {
      display: none; } }
  #switchContainerMobile #switchIconMobile {
    width: 26px;
    transform: rotate(360deg);
    vertical-align: middle;
    cursor: pointer; }
    #switchContainerMobile #switchIconMobile.switchOn {
      transform: rotate(180deg) !important; }

#heroContainer .content,
#heroMobileContainer .content {
  text-align: center; }
  #heroContainer .content img,
  #heroMobileContainer .content img {
    width: 94%; }
    @media (max-width: 435px) {
      #heroContainer .content img,
      #heroMobileContainer .content img {
        width: 100%; } }

#heroMobileContainer {
  margin: 10vh 0px 18vh 0px; }
  @media (min-width: 436px) {
    #heroMobileContainer {
      display: none; } }

@media (max-width: 435px) {
  #heroContainer {
    display: none; } }

#contentContainer {
  margin-left: 156px;
  padding-left: 78px;
  padding-right: 7.7vw;
  padding-top: 48px; }
  @media (max-width: 1280px) {
    #contentContainer {
      margin-left: 92px; } }
  @media (max-width: 1024px) {
    #contentContainer {
      margin-left: 46px; } }
  @media (max-width: 435px) {
    #contentContainer {
      margin-left: 0px;
      margin-right: 0px;
      padding: 48px 21px 0px 18px; } }
  @media (min-width: 1441px) {
    #contentContainer {
      padding-right: 48px; } }
  #contentContainer #descContainer .content {
    font-size: 40px;
    line-height: 48px; }
    @media (max-width: 435px) {
      #contentContainer #descContainer .content {
        font-size: 20px;
        line-height: 26px;
        padding-right: 34px; } }
  #contentContainer #blackBox {
    width: 100%;
    margin-top: 92px; }
    #contentContainer #blackBox img {
      width: 100%; }
    @media (max-width: 435px) {
      #contentContainer #blackBox {
        margin-top: 82px;
        height: 214px; } }
  #contentContainer #teamContainer {
    display: inline-block;
    width: 100%;
    padding: 32px 0px; }
    #contentContainer #teamContainer .title {
      float: left;
      margin-right: 9%; }
      @media (max-width: 1023px) {
        #contentContainer #teamContainer .title {
          width: 100%; } }
      #contentContainer #teamContainer .title h2 {
        margin-top: -15px; }
    #contentContainer #teamContainer ul {
      float: right; }
      #contentContainer #teamContainer ul li {
        display: inline-block; }

#coordinatesContainer {
  padding: 92px 0px; }

#coordinatesContainerMobile {
  padding: 0px; }

#logo, #logoAlt {
  width: 146px;
  margin-right: 52px;
  vertical-align: middle; }

/**TABLEAU**/
@media (max-width: 1023px) {
  .hide {
    display: none; } }

#teamList {
  text-align: left; }
  #teamList th {
    font-size: 22px;
    font-weight: 300;
    max-width: auto;
    padding: 0px 48px; }
    @media (max-width: 1280px) {
      #teamList th {
        padding: 0px 18px 0px 0px; } }
    @media (max-width: 435px) {
      #teamList th {
        font-size: 13px;
        line-height: 16px; } }

#coordinatesList, #coordinatesListMobile {
  text-align: left;
  border-collapse: collapse; }
  #coordinatesList th, #coordinatesListMobile th {
    font-size: 24px;
    font-weight: 300;
    max-width: auto;
    padding: 0px 7.3vw 0px 0px; }
    #coordinatesList th.mobile, #coordinatesListMobile th.mobile {
      display: none; }
    @media (max-width: 435px) {
      #coordinatesList th, #coordinatesListMobile th {
        font-size: 19px;
        line-height: 25px;
        display: block; }
        #coordinatesList th.hidetab, #coordinatesListMobile th.hidetab {
          display: none; }
        #coordinatesList th.mobile, #coordinatesListMobile th.mobile {
          display: block; } }
    @media (max-width: 435px) {
      #coordinatesList th, #coordinatesListMobile th {
        font-size: 19px;
        line-height: 25px;
        display: block; }
        #coordinatesList th.hidetab, #coordinatesListMobile th.hidetab {
          display: none; }
        #coordinatesList th.mobile, #coordinatesListMobile th.mobile {
          display: block; } }
  @media (max-width: 435px) {
    #coordinatesList tr, #coordinatesListMobile tr {
      border-spacing: 32px;
      border-collapse: separate; } }

#coordinatesContainerMobile {
  color: #fff; }

#refsTable,
#projTable {
  text-align: left;
  width: 100%; }
  #refsTable thead,
  #projTable thead {
    font-size: 12px; }
    @media (max-width: 435px) {
      #refsTable thead,
      #projTable thead {
        font-size: 15px; } }
  #refsTable tr,
  #refsTable th,
  #projTable tr,
  #projTable th {
    max-width: 62px;
    padding: 10px 10px 10px 0px;
    font-weight: 100; }
    #refsTable tr.mini,
    #refsTable th.mini,
    #projTable tr.mini,
    #projTable th.mini {
      max-width: fit-content; }
  #refsTable th,
  #projTable th {
    vertical-align: top; }
  #refsTable tr:not(#tableHead),
  #projTable tr:not(#tableHead) {
    border-top: 2.5px solid black; }
    @media (max-width: 435px) {
      #refsTable tr:not(#tableHead),
      #projTable tr:not(#tableHead) {
        border-top: 1.5px solid black; } }
  #refsTable tr:last-of-type,
  #projTable tr:last-of-type {
    border-bottom: 2.5px solid black; }
    @media (max-width: 435px) {
      #refsTable tr:last-of-type,
      #projTable tr:last-of-type {
        border-bottom: 1.5px solid black; } }

li {
  font-size: 16px; }

/**MOBILE MENU**/
#mobileMenuContainer {
  display: none;
  position: absolute;
  right: 18px;
  top: 18px;
  cursor: pointer;
  z-index: 10; }
  @media (max-width: 435px) {
    #mobileMenuContainer {
      display: inline-block; } }
  #mobileMenuContainer #menuIcon, #mobileMenuContainer #menuClose {
    width: 50px;
    cursor: pointer; }
  #mobileMenuContainer #menuClose {
    width: 36px;
    fill: white; }

#mobileMenuSplash {
  visibility: hidden;
  opacity: 0;
  transition: 0s ease;
  z-index: 9;
  height: 100vh;
  width: 100vw;
  margin-top: 14vh;
  background-color: #000000;
  position: fixed;
  top: 0;
  left: 0; }
  #mobileMenuSplash a {
    text-decoration: none;
    color: #ffffff; }
  #mobileMenuSplash.menuOn {
    opacity: 1;
    visibility: visible;
    transition: 0s ease; }
  #mobileMenuSplash .content {
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px 18px 0px 18px; }
    #mobileMenuSplash .content span a {
      color: white;
      font-size: 45px;
      line-height: 54px;
      display: block; }
    #mobileMenuSplash .content .mobileNav {
      margin: 16vh 0px; }

.hideIcon {
  display: none !important; }
